.QuoteA{
    background:#0A2540; 
    margin:0px; 
    padding:40px ;
    padding-bottom: 70px;
    width: inherit;
    height: max-content;
    align-items:center;
    justify-content:center;
    align-content:center;
}

.QuoteA-all-text{       
    width:50%;
    padding-top:20px;
    margin: auto;
    align-items:center;
    justify-content:center;
    align-content:center;
}

.QuoteA-title{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color:#FFFFFF; 
    text-align:center; 
}
.QuoteA-btn{
    margin: inherit;
}
.button-blue-filled{
    background: linear-gradient(96.83deg, #1EADFE 0%, #0085FF 105.85%);
    box-shadow: 2px 4px 9px rgba(14, 152, 255, 0.25);
    border-radius: 30px;
    border: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-left: 30%;
    padding:15px;
    height: fit-content;
    width: 200px;
    color: #FFFFFF;
}

.quoteA-art{
    position: relative;
}

.circle-quoteA{
    position: absolute;
    top: -40px;
}

.triangles-quoteA{
    position: absolute;
    top: 100px;
    left: 90px;

}

.unfilled-quoteA{
    position: absolute;
    right: -40px;
    top: 60px;

}

@media (max-width: 840px) {
    .QuoteA-title{
        font-size: 20px;
    }
    .QuoteA-text{
        font-size: 15px;
    }
    .QuoteA-all-text{       
        width:100%;
        margin:auto
    }
    .triangles-quoteA{
        position: absolute;
        top: 150px;
        width: 10%;
        left: 30px;
    }
    .circle-quoteA{
        position: absolute;
        top: -40px;
        width: 20%;
    }    
    .unfilled-quoteA{
        position: absolute;
        right: -40px;
        top: 120px;
        width: 10%;
    
    }
}

@media (max-width: 350px) {
    .QuoteA-title{
        font-size: 15px;
    }
    .QuoteA-text{
        font-size: 10px;
    }
    .QuoteA-all-text{       
        width:100%;
        margin:auto
    }
    .triangles-quoteA{
        position: absolute;
        top: 80px;
        width: 20%;
        left: -30px;
    }
    .circle-quoteA{
        position: absolute;
        top: -40px;
        width: 50%;
    }    
    .unfilled-quoteA{
        position: absolute;
        right: -40px;
        top: 60px;
        width: 20%;
    
    }
}