

.WhatUs-Up-Container{
    background-color: #0A2540;
}
.WhatUs-Main-Container{
    padding:10px;
    background: #0A2540;
}

.WhyUs-main-title{
    margin: auto;
    width: 50%;
    padding: 50px 0px;
    text-align: left;
}

.WhyUs-main-title h1{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.9);
    text-align: left;
}
.WhyUs-main-title p{
    font-size: 24px;
    text-align: left;

}

.WhatUs-grid-container{
    /* border: blanchedalmond 1px solid; */
    padding-bottom: 100px;
    padding-left: 40px;

}

.WhatUs-img1{
    /* border: blanchedalmond 1px solid; */
    display: block;
    margin: auto;
    width: 60%;
}
.WhatUs-img2{
    /* border: blanchedalmond 1px solid; */
    display: block;
    margin: 60px auto;
    float: left;
    width: 75%;
}

.WhatUs-grid-title{
    /* border: blanchedalmond 1px solid; */
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.9);
}

.WhatUs-grid-text{
    /* border: blanchedalmond 1px solid; */
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin: 40px 0px;
    color: rgba(255, 255, 255, 0.9);
}


@media (max-width: 600px) {
    
    .WhatUs-grid-title{
        padding: 0px;
        font-size: 25px;
    }
    
    .WhatUs-grid-text{
        padding: 0px;
        font-size: 18px;
    }
    .WhatUs-grid-container{
        padding-bottom: 10px;
        padding-left: 20px;
    
    }

    .WhyUs-main-title{
        width: 80%;
        margin: auto;
    }

    .WhyUs-main-title h1{
        margin: auto;
        font-size: 20px;
    }
    .WhyUs-main-title p{
        margin: auto;
        font-size: 15px;
    }

    .WhatUs-img1{
        margin: auto;
        width: 80%;
    }
    .WhatUs-img2{
        margin: auto;
        width: 95%;
    }
}

@media (max-width: 350px) {

    .WhatUs-grid-title{
        font-size: 25px;
    }
    
    .WhatUs-grid-text{
        font-size: 12px;
    }
}