.Quote{
    background:#0A2540; 
    margin:0px; 
    padding:90px ;
    width: inherit;
    height: max-content;
    align-items:center;
    justify-content:center;
    align-content:center;
}

.Quote-all-text{       
    width:50%;
    margin:auto
}

.Quote-title{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color:#FFFFFF; 
    text-align:center; 
}

.Quote-text{
    color:#F2F2F7;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding-left: 35px;
    font-size: 20px; 
    text-align:left; 
}


@media (max-width: 840px) {
    .Quote-title{
        font-size: 20px;
    }
    .Quote-text{
        font-size: 15px;
    }
    .Quote-all-text{       
        width:100%;
        margin:auto
    }
}

@media (max-width: 350px) {
    .Quote-title{
        font-size: 15px;
    }
    .Quote-text{
        font-size: 10px;
    }
    .Quote-all-text{       
        width:100%;
        margin:auto
    }
}