.Hero {
    width: inherit;
    padding-top: 90px;
    background: #FFFFFF;
}

.Hero-container{
    align-items: center;
    justify-content: center;
    align-content: center;
}


.Hero-text{
    padding-left: 45px;
}


.Hero-title{
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin: auto;
    color: #0A2540;
}

.Hero-subtitle{
    margin-top:30px;
}

.subtitle{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #0A2540;
}


#button-filled{
    background: linear-gradient(92.83deg, #AAB3FF -6.63%, #4E75FF 112.6%);
    box-shadow: 5px 9px 15px rgba(167, 182, 255, 0.25);
    border-radius: 30px;
    border: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    align-self: center;
    color: #FFFFFF;
    height: 60px;
    width: 40%;
    cursor: pointer;
}

#button-un-filled{
    filter: drop-shadow(5px 9px 15px rgba(226, 171, 249, 0.25));
    border-radius: 30px;
    border-color: #8197FF;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #8197FF;
    text-shadow: 0px 2px 9px rgba(130, 152, 255, 0.25);
    height: 60px;
    width: 50%;
    margin-left: 10px;
    cursor: pointer;
}

/* .Hero-buttons{
    align-items: center;
    justify-content: center;
    align-content: center;
    size: 4em;
} */



@media (max-width: 1201px) {
    .Hero-buttons{
        margin-top:20px;
    }

    #button-filled{
        font-size: 20px;
        /* margin:10px; */
        height: 60px;
        width: 40%;
    }
    #button-un-filled{
        
        font-size: 18px;
        /* margins:10px ; */
        height: 60px;
        width: 50%;
    }
    
    .Hero-title{
        font-size: 40px;
        line-height: normal;
    }
}

@media (max-width: 992px ) {
    

    .Hero-title{
        font-size: 38px;
    }

    #button-filled{
        font-size: 20px;
        margin:10px;
        height: 60px;
        width: 40%;
    }
    #button-un-filled{
        
        font-size: 18px;
        margin:10px ;
        height: 60px;
        width: 50%;
    }
    
}

/* @media (max-width: 769px ) {

} */

@media (max-width: 580px ) {
    
    .Hero-title{
        font-size: 28px;
    }

    .subtitle{
    font-size: 15px;
    color: #0A2540;
    line-height: normal;
    }

    #button-filled{
        font-size: 20px;
        height: 100%;
        width: 60%;
    }
    #button-un-filled{
        
        font-size: 18px;
        height: 100%;
        width: 60%;
    }


}

