  
#container {
  width: inherit;
  padding-top: 70px;
  padding-bottom:5px ;
  background: #0A2540;    
}
#contact_form {
    max-width: 550px;
    margin: 20px auto;
    position: relative;
    background: #0A2540;
    padding: 40px;
    /* margin: 50px 0; */
}

  
  
.form-title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    text-align:center ;
    color: #FFFFFF;
  }
  
 
.age {
    float: right;
    width: 45%;
}

.email {
      float: right;
      width: 100%;
}

.message {
    float: none;
}
  
.name {
    float: left;
    width: 45%;
}
  
input[type='text'], [type='email'],[type='age'],textarea {
    background: #0A2540;
    border: none;
    border-bottom: solid 2px rgb(211, 211, 211);
    color: #fff;
    margin-bottom: 2em;
    padding-bottom: 2em;
    width: 100%;
    
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
  }
  
  input[type='text']:focus, [type='email']:focus,[type='age']:focus, textarea:focus {
    background: #0A2540;
    outline: none;
      padding: 0 0 0.875em 0;
  }
  
 
  
  #form_button {
    cursor: pointer;
    border: none;
    background: linear-gradient(96.83deg, #1EADFE 0%, #0085FF 105.85%);
    box-shadow: 2px 4px 9px rgba(14, 152, 255, 0.25);
    border-radius: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-left:38%;
    padding:20px 40px;
    color: #FFFFFF;
  }

  /* #form-button:active{
      translate: Y 2px; ;
  } */
  
  /* #form_button:hover {
    background: ;
    color: ;
  } */
  
  @media screen and (max-width: 768px) {
    #contact_form {
      margin: 20px auto;
      width: 75%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .form-title {
      font-size: 26px;
    }
    #contact_form {
      margin: 20px auto;
      width: 65%;
    }
    
    
    #form_button {
      padding: 15px 25px;
    }
  }
  
  @media screen and (max-width: 420px) {
    .form-title{
      font-size: 18px;
    }
    
    #contact_form {
      margin: 20px auto;
      /* width: 75%; */
    }
    
  }