.Values-UpContainer{
    background-color: #E5F5FE;
}
.Values-Main-Container{
    margin-top: 90px;
    width: inherit;
    padding:30px;
    background: #E5F5FE;
}
.Values-grid-container{
    padding-bottom: 100px;
    padding-left: 40px;

}

.Values-img{
    display: block;
    margin: auto;
    float: left;
    /* width: 55%; */
    width: 85%;
}

.Values-grid-title{
    font-family:'Lato', sans-serif;
    font-weight: 800;
    font-size: 45px;
    text-align: left;
    color: #0A2540;
}

.Values-grid-text{
    font-family:'Lato', sans-serif;
    font-size: 18px;
    color: rgba(10, 37, 64, 0.9);
}


@media (max-width: 600px) {
    
    .Values-grid-title{
        font-size: 30px;
    }
    
    .Values-grid-text{
        font-size: 18px;
    }
}

@media (max-width: 350px) {

    .Values-grid-title{
        font-size: 25px;
    }
    
    .Values-grid-text{
        font-size: 12px;
    }
}