.Footer{
  /* margin:0px; */
  padding-top:90px;
  background: #E5F5FE;
}
.Footer-container{
  height: fit-content;
}

.Footer-heading{
  
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0A2540;
}

.Footer-heading a:link{
  color: #0A2540;
  text-decoration: none;
}

.Footer-heading a:visited{
  color: #0A2540;
  text-decoration: none;
}

.Footer-heading a:hover{
  color: #1EADFE;
}

.Footer-item{
  display: flex;
  flex-direction: column;
  
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #0A2540;
}

.Footer-Miurac-logo{
  display: flex;
}
.footerlogo-img{
  width: 150%;
}

.Footer-logo-title{
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  padding-left: 30px;
  padding-top: 20px;
  color: #0A2540;
}
.Footer-Socials p{
  margin-top: 20px;
  font-family: Lato;
  font-size: 35px;
  color: #0A2540;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align:center ;
}