#navbar{
    width: 100%;
    z-index: 1;
    background: #ffffff;
    box-shadow: 0px 4px 15px rgba(187, 222, 255, 0.25);
}
#logo-desktop{
    position: relative;
    left:90px
}

.logo-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    color: #0A2540;
    position: absolute;
    left: 60px;
    top: 14px;
}
#Nav-Links{
    position: absolute;
    /* text-decoration: none; */
    right: 70px;
}

#Nav-Links-btn{
    border: none;
    background: none;
    text-decoration: none;
    text-transform: none;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
    color: #8E8E93;
    padding:10px ;
}
#Nav-Links-btn:hover{
    color: #0A2540;
}
#Nav-Links-btn:focus{
    outline: none;
}

#button-nav{
    font-family: Lato;
    border: none;
    padding: 10px 20px 15px 20px;
    background: linear-gradient(96.83deg, #1EADFE 0%, #0085FF 105.85%);
    box-shadow: 2px 4px 9px rgba(14, 152, 255, 0.25);
    border-radius: 50px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
}

#button-nav:hover{
    background: linear-gradient(96.83deg, #0085FF 0%, #1EADFE 105.85%);
}

#menu-icon{
    
    position: absolute;
    top:10px;
    right: 40px;
}

#Nav-Links-drawer{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 830px)
{
    #menu-icon{
        display: none;
    }
    
}

@media (max-width:830px){ 
        
#Nav-Links{
    display: none;
}
.logo-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    color: #0A2540;
    position: absolute;
    left: 60px;
    top: 19px;
}
.logo-img{
    width: 90%;
}
#menu-icon{
    
    position: absolute;
    top:14px;
    right: 40px;
}

    
#logo-desktop{
    position: relative;
    left:20px
}

}

@media (max-width: 600px){
        
#Nav-Links{
    display: none;
}
}